<!-- About Section -->
<section id="about" style="background-color:#eeeeee;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">A brief history of <b>Time!</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image" style="border-width:4px;">
                            <a href="https://www.linkedin.com/in/thedextazlab" target="_new">
            <img class="img-circle img-responsive" src="img/about/2.png" alt="">
            </a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1985</h4>
                                <h4 class="subheading">Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Born in the 80s, <a href="https://www.linkedin.com/in/thedextazlab" target="_new"><b>David</b></a> a.k.a <b>thedextazlab</b> grew up as a computer whiz working on web development, graphic design and a number of IT projects.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/lab.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2016</h4>
                                <h4 class="subheading">A Studio is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"><b>THEDEXTAZLAB STUDIOS</b>, or simply <b>@thedextazlab</b>, was officially launched on March 4<sup>th</sup>, 2016 - somewhere in the foothills of <a href="https://en.wikipedia.org/wiki/Mount_Meru_(Tanzania)" target="_new"><b>Mount Meru</b></a>. Eventually, relocated to <a href="https://g.page/thedextazlab?share" target="_new"><b>Dar es Salaam</b></a>, serving both local and international clients.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2017</h4>
                                <h4 class="subheading">Evolution</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">With a growing number of clients and a difficult local market, <b>@thedextazlab</b> started working on a number of <span style="font-style:italic"><b>special projects</b></span>, while forging lasting partnerships with talents locally and accross the world to deliver cutting-edge solutions and experiences.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2020</h4>
                                <h4 class="subheading">Aiming for the Stars!</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                If you're walking down the right path and you're willing to keep walking, <span><strong>eventually you'll make progress.</strong><br>
                                <span style="font-style:italic; color: #{{ site.data.template.color.muted }};">- <a href="https://en.wikipedia.org/wiki/Barack_Obama" target="_new">Barack Obama</a></span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#contact" class="page-scroll">
                            <div class="timeline-image">
                                <h4 style="margin-top:25%;">
                                    <span class="fa-stack fa-lg fa-2x">
                                        <i class="fa fa-heart fa-stack-2x ld ld-heartbeat"></i>
                                        <i class="fa fa-check fa-stack-1x" style="color:#{{ site.data.template.color.primary }};"></i>
                                    </span>
                                </h4>   
                            </div>
                        </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Everyday</h4>
                                    <h4 class="subheading">Creative Magic.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Creating Amazing Experiences for Home, Work, and Play. <strong><a href="#contact" class="page-scroll">Get in touch</a></strong> and be part of our story.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
