<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get in Touch</h2>
                    <h3 class="section-subheading text-muted-light"></h3>
                    <p style="font-size:36px;color:#fff;margin:0px;"><a href="tel:+255688764220" target="_new" 
                        style="padding: 4px 16px;
                        box-shadow: 0 0 12px rgba(0,0,0,.5);
                        border-radius: 40px;
                        text-shadow: 1px 1px 5px rgba(0,0,0,.5);">+255 688 764 220</a></p>
		    <!--<p style="font-size:20px;color:#fff;"><i class="fa fa-envelope" ></i> info (at) thedextazlab.com</p>-->
                    <p style="font-size:20px;color:#fff;margin:0px 0px 20px 0px"><i class="fa fa-map-marker" ></i> 8 Ruvu Street, Masaki, Dar es Salaam, Tanzania.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  {% include formspree.html %}
                </div>
            </div>
        </div>
    </section>
