<form class="kwes-form" action="https://kwes.io/api/foreign/forms/QN4b2PaM7IQHLwcTmsnH">
    <input type="text" class="form-control form-group" placeholder="Your Name *" name="name" rules="required">
    <input type="email" class="form-control form-group" placeholder="Your Email *" name="email" rules="email">    
    <input style="height:200px;" type="text" class="form-control form-group" placeholder="Your Message *" name="message" rules="required">
    <button type="submit" class="btn btn-xl">Send Message</button>
</form>