     <form class="kwes-form" action="https://kwes.io/api/foreign/forms/QN4b2PaM7IQHLwcTmsnH">
        <input type="text" class="form-control col-md-6" placeholder="Your Name *" name="name" rules="required">
        <input type="email" class="form-control col-md-6" placeholder="Your Email *" name="email" rules="email required">    
        <textarea class="form-control" placeholder="Your Message *" name="message" rules="required"></textarea>
        <button type="submit" class="btn btn-xl">Send Message</button>
    </form>