<form class="kwes-form" action="https://kwes.io/api/foreign/forms/QN4b2PaM7IQHLwcTmsnH">
    <input type="text" class="form-control form-group" placeholder="Your Name *" name="name" id="name" rules="required">
    <input type="email" class="form-control form-group" placeholder="Your Email *" name="email" id="email" rules="required|email">    
    <input type="text" class="form-control form-group" placeholder="Your Phone *" name="phone" id="phone" rules="required">
    <textarea class="form-control form-group" placeholder="Your Message *" name="message" id="message" rules="required"></textarea>
    <button type="submit" class="btn btn-xl">Send Message</button>
</form>