<!-- Partners Section -->
    <section id="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Providers</h2>
                    <h3 class="section-subheading text-muted">We stand on the shoulders of giants!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="https://go.thedextazlab.com/linode" target="_new">
                        <img src="img/logos/linode.png" class="img-responsive img-centered partner" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="https://go.thedextazlab.com/cloudlfare" target="_new">
                        <img src="img/logos/cloudflare.png" class="img-responsive img-centered partner" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="https://go.thedextazlab.com/microsoft" target="_new">
                        <img src="img/logos/microsoft.png" class="img-responsive img-centered partner" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <a href="https://go.thedextazlab.com/google" target="_new">
                        <img src="img/logos/google.png" class="img-responsive img-centered partner" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>