<style>
    .patron {
        transition:all 0.5s ease-in-out;
        margin-bottom: 12px;
        top: 12px;
        padding-left: 8px;
        opacity:0;
    }
    .patron:hover {
        transform:scale(1.05);
    }
    .patron-animate {
        opacity: 1!important;
    }
</style>
<li class="patron">
        <a href="https://www.patreon.com/bePatron?u=32963065" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
</li>